.liner{
    margin: 0 auto;
    background-color: cornflowerblue;
    max-width: 10em;
    border-radius: 50%;
    padding: 50px;

}
.inner{
    margin: 0 auto;
    width: 8em;
    height: 8em;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
}

.liner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 3px; 
    height: 100%; 
    background-color: lightgray; 
    transform-origin: 50% 0;
}

.liner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 3px; 
    height: 100%; 
    background-color: lightgray; 
    transform-origin: 50% 0;
}